@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	font-family: 'Montserrat', sans-serif;
}


/* header */

.header {
    width: 100%;
    height: 80px;
    border-bottom: 0px;
    border-style: solid;
    border-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    clear: both;
    float: left;
}

.logo {
    float: left;
    width: 200px;
    margin: 10px 0px 10px 20px;
}

.options-top {
    float: right;
    position: relative;
    top: 28%;
    right: 10px;
}

.options-top *{
	float: left;
	padding: 0px 5px!important;
	margin: 0px !important;
}

.welcome {
	color: #D47189;
	font-size: 17px;
}

.mi-cuenta {
	background: white !important;
	border: 0px;
	border-bottom: 2px !important;
	border-color: #D47189;
	font-size: 18px;
}
.mi-cuenta:focus {
 	outline: 0px !important;
}
.mi-cuenta:hover {
 	outline: 0px !important;
 	color: #D47189;;
}



.top-nav {
	width:100%;

}

.nav-opt {
	float: left;
	padding: 10px;
	/*background-color: white;*/
	background-color: #D47189;
	border-style: hidden;
	/*border: 1px solid  #D47189;*/
	border: 1px solid  white;
	color:white;
	width: 20%;
}
.nav-opt:focus {
	outline:0px;
}

/* end header */

/***** OPT VIDEOLLAMADA ******/

.banner {

	width:80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;

}

.img-banner {

	width: 30%;

}

.form {
	width: 70%;
	margin:0 auto;
	margin-top: 60px;
}

.filtros label, .filtros select {
	float: left;
}
.form label {
	padding:6px;
	margin-bottom: 0px !important;
}
.select {
	width: 50%;
}
.select:focus {
	box-shadow: none;
}

.medicos {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #C7C7C7;

	margin-top: 30px;
}
.titulo-medico {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.lista-medicos {
	list-style: none;
	padding: 10px;
}

.lista-medicos li {
	padding: 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

/***** END OPT VIDEOLLAMADA ******/

/******************** PROVISIONAL WEBRTC **************************/


.boxMyID, .boxYourId, .boxMessages, .boxVideo {
	border: 1px solid #C7C7C7;
	border-radius: 46px 46px 46px 46px;
	-moz-border-radius: 46px 46px 46px 46px;
	-webkit-border-radius: 46px 46px 46px 46px;
	padding: 25px;
	margin:10px;
}
.containerMyID {
	background-color: #F5F5F5;
}
.clear {
	clear:both;
}

.button {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 8px;
	border: 1px solid #F94E4E;
	background-color: white;
	color: #F94E4E;
	width: 15%;
}

.button:hover, .button:focus {
	outline: 0px;
	color:white;
	background-color: #F94E4E;
}

.input, input[type=text] {
	width:100%;
	border: 1px solid #C7C7C7;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 10px 0px;
}
.input:focus {
	outline: 0px;
	border: 1px solid #7A7A7A;
}
.boxMessages, .boxVideo {
	float: left;
	width: 45%;
}

/******************** END PROVISIONAL WEBRTC **************************/

.videoBig {
	width: 50%;
}
.videoSmall {
	width: 50%;
}

/******************** END PROVISIONAL WEBRTC **************************/

