@import url('https://fonts.googleapis.com/css?family=Montserrat');
html *{
	font-family: 'Montserrat', sans-serif !important;
}

/*  global   */
.button {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 8px;
	border: 1px solid #cd5252;
	background-color: #cd5252;
	color: white;
	width: 15%;
}

.button:hover, .button:focus {
	outline: 0px;
	color:#cd5252;
	background-color: white;
}


.input, input[type=text] {
	width:100%;
	border: 1px solid #C7C7C7;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 10px 0px;
}
.input:focus {
	outline: 0px;
	border: 1px solid #7A7A7A;
}

.color {
	background-color: #eb4f4f;
}

.secondary-color {
	background-color: #b23e3e;
}

.col2 {
	width: 50%;
	float: left;
	padding: 20px;
}

.body {
	padding: 50px;
}

.titulo-mediano {
	font-size: 20px;
	color:#9d9d9d;
	letter-spacing: 0.5px;
}

.parrafo {
	padding: 20px 30px;
}

.button-call{
	background-color: #72ea63;
	color: white;
	border-color: #72ea63;
}
.button-call:hover, .button-call:focus {
	color: #72ea63;
	background-color: white;
	border-color: #72ea63;
}
select {
   width: 100% !important;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat #ddd;
    -webkit-appearance: none;
    background-position-x: 97%;
    background-position-y: 10px;
    -moz-appearance: none;
    appearance: none;
}

.input-pequeño {
	width: 20%;
}

a:hover, a:focus {
 	outline: 0px !important;
	color: #b23e3e !important;
}

.textarea{
	width:100%;
	border: 1px solid #C7C7C7;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 10px 0px;
}
/*  end global  */


/* header */

.header {
    width: 100%;
    height: 80px;
    border-bottom: 0px;
    border-style: solid;
    border-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    clear: both;
    float: left;
}

.logo {
    float: left;
    width: 200px;
    margin: 10px 0px 10px 20px;
}

.options-top {
    float: right;
    position: relative;
    top: 28%;
    right: 10px;
}

.options-top *{
	float: left;
	padding: 0px 5px!important;
	margin: 0px !important;
}

.welcome {
	color: #eb4f4f;
	font-size: 17px;
}

.mi-cuenta {
	background: white !important;
	border: 0px;
	font-size: 18px;
}
.mi-cuenta:focus {
 	outline: 0px !important;
}
.mi-cuenta:hover {
 	outline: 0px !important;
 	color: #b23e3e;;
}



.top-nav {
	width:100%;

}

.nav-opt {
	float: left;
	padding: 10px;
	/*background-color: white;*/
	/*background-color: #D47189;*/
	background-color: #cd5252;
	border-style: hidden;
	/*border: 1px solid  #D47189;*/
	border: 1px solid  white;
	color:white;
	width: 20%;
}
.nav-opt:focus , .nav-opt:hover {
	outline:0px;
	background-color: #b23e3e;
}


/* end header */


/****** OPT VIDEOLLAMADA COMPROBAR CODIGO *******/

.titulo-comp-cita {
	font-size: 35px;
	color: #9d9d9d;
	text-align: center;
}

.comprobarCita .form {
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
}
.comprobarCita .form .input{
	width: 30%;

}

.pacientes {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #C7C7C7;

	margin-top: 30px;
}

.lista-pacientes {
	list-style: none;
	padding: 10px;
}

.lista-pacientes li {
	padding: 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.titulo-paciente {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
	padding: 10px 0px;
}

.input-buscarsip {
	margin: 0px 10px;
}

.reload {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 12px;
	border: 1px solid #9d9d9d;
	background-color: white;
	color: #9d9d9d;
	width: 5%;
}

.reload:hover,  .reload:focus{
	border: 1px solid #9d9d9d;
	background-color: #9d9d9d;
	color: white;
	width: 5%;
}




/**** END  OPT VIDEOLLAMADA COMPROBAR CODIGO ****/


/************ PACIENTE ****************/
.lista-pacientes .pos{
	font-weight: 700;
	
	padding: 5px 20px;
	font-size:12px;
}


.lista-pacientes .tab-col1 {
	position: relative;
	float: left;
	width: 10%;
}

.lista-pacientes .tab-col2 {
	position: relative;
	float: left;
	width: 20%;
}

.lista-pacientes .tab-col3 {
	position: relative;
	float: left;
	width: 20%;

}
.lista-pacientes .tab-col4 {
	position: relative;
	float: left;
	width: 40%;

}
.lista-pacientes .tab-col5 {
	position: relative;
	float: left;
	width: 10%;
	text-align: center;

}

.button-phone {
	font-size: 25px;
	color: black;
}

.connect {
	color: #2cc200;
	border:0.5px solid #2cc200;
	border-radius:10px;

}

/********** END PACIENTE ************/


/***** OPT VIDEOLLAMADA ******/

.banner {

	width:100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;

}

.img-banner {

	width: 95%;

}

.form {
	width: 70%;
	margin:0 auto;
	margin-top: 60px;
}
/*
.filtros label, .filtros select {
	float: left;
}
.form label {
	padding:6px;
	margin-bottom: 0px !important;
}
.select {
	width: 50%;
}
.select:focus {
	box-shadow: none;
}
*/
.medicos {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #C7C7C7;

	margin-top: 30px;
}
.titulo-medico {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.lista-medicos {
	list-style: none;
	padding: 10px;
}

.lista-medicos li {
	padding: 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

/***** END OPT VIDEOLLAMADA ******/



/******* INICIO ***************/

.titulo-inicio {
	font-size: 25px;
	color: #818181;
	letter-spacing: 0.5px;
}
/********* END INICIO *********/


/******** CITA VIDEO ***********/
.body-cita-videollamada {
	padding: 50px 100px;
}

.body-cita-videollamada .content {
	margin: 0 auto;
}

.body-cita-videollamada  .col2 {
	padding: 20px 0px 0px 130px;
}
.body-cita-videollamada .label {
	font-weight: 700;
}

.button-cita-video .button {
	width: 40%;
}
/******* END CITA VIDEO ********/

/******** VER VIDEO ************/

.content-video {
	width: 100%;
	margin:0 auto;
	text-align: center;
}

video {
	width: 50%;
}
/******** END VER VIDEO *******/

/******** LOGIN *******/
.login{
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

.login img{
	width: 40%;
	margin: 20px;
}

.form-login{
	text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.p-registro{
	margin: 25px;
}

.titulo-login{
	font-size: 23px;
	color: #9d9d9d;
}

.login .button{
	width: 20%;
}
/******** END LOGIN *******/

/******** CONFIRMAR LOGIN *******/
.confirmar{
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

.confirmar img{
	width: 40%;
	margin: 20px;
}

.form-codigo{
	text-align: left;
    width: 62%;
    margin: 0 auto;
    padding: 30px;
}

.confirmar .titulo-login{
	margin: 10px 0px 30px 0px;
}
.texto-confirmar{
	width: 53%;
}

.confirmar .button{
	width: 20%;
	margin-top: 15px;
}
/******** ENDCONFIRMAR LOGIN *******/

/******** REGISTRO *******/
.registro{
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

.registro img{
	width: 40%;
	margin: 20px;
}

.registro .button{
	width: 20%;
    margin-bottom: 20px;
}
/******** END REGISTRO *******/

/******** HISTORIAL Y CONSULTA*******/
.historial{
	padding: 50px 100px;
}

.historial .titulo-comp-cita{
	font-size: 30px;
}

.historial .input{
	width: 20%;
}

.historial .button{
	width: 10%;
	padding: 7px;
	margin-left: 10px;
}

.historial .card{
	margin: 20px 0px 0px 0px;
}

.historial .item{
	margin-bottom: 10px;
}

.historial .col2{
	padding: 20px 20px 20px 0px;
}

.historial .card .button{
	width: 20%;
    padding: 7px;
    margin-left: 45%;
}

.consulta{
	padding: 50px 100px;
}

.consulta .textarea{
	margin-top: 0px;
}

.consulta .form-consulta a{
	margin-left: 57%;
}

.consulta .input{
	margin-left: 10px;
}

.form-consulta label{
	font-weight:bold !important;
}

.datos-consulta label{
	font-weight:bold !important;
}

/******** END HISTORIAL *******/

/******** CITA *******/
.nueva-cita{
	padding: 50px 100px;
}

.form-cita{
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

.body-cita{
	text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.body-cita select{
	margin:  10px 0px;
}

/******** END CITA *******/

/******************** PROVISIONAL WEBRTC **************************/


.boxMyID, .boxYourId, .boxMessages, .boxVideo {
	border: 1px solid #C7C7C7;
	border-radius: 46px 46px 46px 46px;
	-moz-border-radius: 46px 46px 46px 46px;
	-webkit-border-radius: 46px 46px 46px 46px;
	padding: 25px;
	margin:10px;
}
.containerMyID {
	background-color: #F5F5F5;
}
.clear {
	clear:both;
}

/*
.button {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 8px;
	border: 1px solid #F94E4E;
	background-color: white;
	color: #F94E4E;
	width: 15%;
}

.button:hover, .button:focus {
	outline: 0px;
	color:white;
	background-color: #F94E4E;
}

.input, input[type=text] {
	width:100%;
	border: 1px solid #C7C7C7;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 10px 0px;
}
.input:focus {
	outline: 0px;
	border: 1px solid #7A7A7A;
}

*/
.boxMessages, .boxVideo {
	float: left;
	width: 45%;
}

/******************** END PROVISIONAL WEBRTC **************************/

.videoBig {
	width: 50%;
}
.videoSmall {
	width: 50%;
}

/******************** END PROVISIONAL WEBRTC **************************/

/* DayPicker styles */

.DayPicker {
	display: inline-block;
  }
  
  .DayPicker-wrapper {
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	padding-bottom: 1rem;
	flex-direction: row;
  }
  
  .DayPicker-Months {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .DayPicker-Month {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	margin: 0 1rem;
	margin-top: 1rem;
  }
  
  .DayPicker-NavBar {
  }
  
  .DayPicker-NavButton {
	position: absolute;
	cursor: pointer;
	top: 1rem;
	right: 1.5rem;
	margin-top: 2px;
	color: #8b9898;
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
  }
  
  .DayPicker-NavButton:hover {
	opacity: 0.8;
  }
  
  .DayPicker-NavButton--prev {
	margin-right: 1.5rem;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
  }
  
  .DayPicker-NavButton--next {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
  }
  
  .DayPicker-NavButton--interactionDisabled {
	display: none;
  }
  
  .DayPicker-Caption {
	padding: 0 0.5rem;
	display: table-caption;
	text-align: left;
	margin-bottom: 0.5rem;
  }
  
  .DayPicker-Caption > div {
	font-size: 1.15rem;
	font-weight: 500;
  }
  
  .DayPicker-Weekdays {
	margin-top: 1rem;
	display: table-header-group;
  }
  
  .DayPicker-WeekdaysRow {
	display: table-row;
  }
  
  .DayPicker-Weekday {
	display: table-cell;
	padding: 0.5rem;
	font-size: 0.875em;
	text-align: center;
	color: #8b9898;
  }
  
  .DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
  }
  
  .DayPicker-Body {
	display: table-row-group;
  }
  
  .DayPicker-Week {
	display: table-row;
  }
  
  .DayPicker-Day {
	display: table-cell;
	padding: 0.5rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 50%;
  }
  
  .DayPicker-WeekNumber {
	display: table-cell;
	padding: 0.5rem;
	text-align: right;
	vertical-align: middle;
	min-width: 1rem;
	font-size: 0.75em;
	cursor: pointer;
	color: #8b9898;
	border-right: 1px solid #eaecec;
  }
  
  .DayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
  }
  
  .DayPicker-Footer {
	padding-top: 0.5rem;
  }
  
  .DayPicker-TodayButton {
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	color: #4a90e2;
	font-size: 0.875em;
  }
  
  /* Default modifiers */
  
  .DayPicker-Day--today {
	color: #d0021b;
	font-weight: 700;
  }
  
  .DayPicker-Day--outside {
	cursor: default;
	color: #8b9898;
  }
  
  .DayPicker-Day--disabled {
	color: #dce0e0;
	cursor: default;
	/* background-color: #eff1f1; */
  }
  
  /* Example modifiers */
  
  .DayPicker-Day--sunday {
	background-color: #f7f8f8;
  }
  
  .DayPicker-Day--sunday:not(.DayPicker-Day--today) {
	color: #dce0e0;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
	position: relative;
	color: #f0f8ff;
	background-color: #4a90e2;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
	background-color: #51a0fa;
  }
  
  .DayPicker:not(.DayPicker--interactionDisabled)
	.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
	background-color: #f0f8ff;
  }
  
  /* DayPickerInput */
  
  .DayPickerInput{
	display: inline-block;
  }
  
  .DayPickerInput-OverlayWrapper {
	position: relative;
  }
  
  .DayPickerInput-Overlay {
	left: 0;
	z-index: 1;
	position: absolute;
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  
