@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	font-family: 'Montserrat', sans-serif;
}



.boxMyID, .boxYourId, .boxMessages, .boxVideo {
	border: 1px solid #C7C7C7;
	border-radius: 46px 46px 46px 46px;
	-moz-border-radius: 46px 46px 46px 46px;
	-webkit-border-radius: 46px 46px 46px 46px;
	padding: 25px;
	margin:10px;
}
.containerMyID {
	background-color: #F5F5F5;
}
.clear {
	clear:both;
}

.button {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 8px;
	border: 1px solid #F94E4E;
	background-color: white;
	color: #F94E4E;
	width: 15%;
}

.button:hover, .button:focus {
	outline: 0px;
	color:white;
	background-color: #F94E4E;
}

.input, input[type=text] {
	width:100%;
	border: 1px solid #C7C7C7;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 10px 0px;
}
.input:focus {
	outline: 0px;
	border: 1px solid #7A7A7A;
}
.boxMessages, .boxVideo {
	float: left;
	width: 45%;
}